extends ../layout

block content
	h1.
		Blob ID #{blob._id}
	form(action='/blobs/#{blob._id}/edit',method='post',name='updateblob',enctype='application/x-www-form-urlencoded')
		p Title:
			input#inputTitle(type='string', value='#{blob.title}', name='title')
		p Description:
			input#inputDescription(type='string', value='#{blob.description}', name='description')
		p Price:
			input#inputPrice(type='string', value='#{blob.price}', name='price')
		p Year:
			input#inputYear(type='string', value='#{blob.year}', name='year')
		p Location:
			input#inputLocation(type='string', value='#{blob.location}', name='location')
		p
			input(type='hidden',value='PUT',name='_method')
		p
			button#btnSubmit(type='submit').
				Update