<% include ../header %>
<div id="header">
    <h1 >Overland It!</h1>

</div>
<div layout="row" layout-sm="column" layout-wrap>    
<% blobs.forEach(function(blob){ %>
<div flex="30" flex-sm="95" layout-wrap>
 <md-card>
    <a href=<%='/blobs/' + blob._id %> >
        <img src="<%= blob.url %>" class="md-card-image">
    </a>
            
  <md-card-content>
    <h2><%= blob.title %></h2>
    <h3>$<%= blob.price %></h3>
    <h3><%= blob.location %></h3>
  </md-card-content>
    <form action=<%='/blobs/'+ blob._id + '/edit' %> method='post' enctype='application/x-www-form-urlencoded'>
        <input type='hidden' value='DELETE' name='_method'>
        <button type='submit'>Delete</button>
    </form>
                    
            <a href=<%='/blobs/' + blob._id + '/edit' %>>Edit</a>
 </md-card>
</div>
<% }) %>

<% include ../footer %>
