<% include ../header %>

<a href='<%= blob.source %>'> <h1>View This Vehicle's Origional Post.</h1></a>
    
<h1><img src="<%= blob.url %>" ></h1>
<p>Title: <%= blob.title %></p>
<p>Description: <%= blob.description %></p>
<p>Price: $<%= blob.price %></p>
<p>Year: <%= blob.year %></p>
<p>Location: <%= blob.location %></p>
<p>Source: <%= blob.source %> </p> 
<p>I hope you enjoyed looking</p>

<% include ../footer %>  \