<% include ../header %>



<div id="showInfo" > 
	 <a href='<%= blob.source %>'><h2><p><%= blob.title %></p></h2></a>
	<h1><img id="showImg" src="<%= blob.url %>" ></h1>
  <div id="specs">
	<p><%= blob.description %></p>
	<p>Price: $<%= blob.price %></p>
	<p>Year: <%= blob.year %></p>
	<p>Located in: <%= blob.location %>.</p>
  </div>
</div>

<% include ../footer %>  