extends ../layout

block content
    h1.
        Infophoto #{blob._id}
    p Title: #{blob.title}
    p Description: #{blob.description}
    p Price: #{blob.price}
    p Year: #{blob.year}
    p Location: #{blob.location}

