<% include ../header %>

<h1>View this Vehicle</h1>
    
<img src="<%= blob.url %>" >
<p>Title: <%= blob.title %></p>
<p>Description: <%= blob.description %></p>
<p>Price: <%= blob.price %></p>
<p>Year: <%= blob.year %></p>
<p>Location: <%= blob.location %></p>

<% include ../footer %>